body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.header {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

a {
    font-weight: 700;
    color:rebeccapurple;
    text-decoration: none;
}

.logo {
    font-weight: 700;
    color: lightgreen;
    background-color: rebeccapurple;
    text-decoration: none;
    padding: 5px 15px;
    margin-right: 50px;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

ul>li {
    margin-right: 30px;
}

.box {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

h1,h2,h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.aside {
    background-color:lavender;
    padding: 10px 20px;
}

section {
    background-color:lavender;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.post {
    padding-bottom: 20px;
}

footer {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
}
